.l3.s3{:id => "note_#{note.id}"}
  .alert.alert-info
    %h5
      = l note.created_at, format: :short
    %h4
      <strong>Note: </strong>
      = note.title
    %p
      = note.text
    %p
      = link_to note_path(note) do
        %span.glyphicon.glyphicon-eye-open
      = link_to edit_polymorphic_path([@notable, note]), remote: true do
        %span.glyphicon.glyphicon-pencil
      = link_to polymorphic_path([@notable, note]), remote: true, method: :delete do
        %span.glyphicon.glyphicon-trash