%tr{:id => "idea_#{idea.id}", class: row_class(idea)}
  %td 
    = link_to idea_path(idea) do
      %span.glyphicon.glyphicon-eye-open
      #{idea.name}
  %td
    - idea.categories.each do |cat|
      %span.label.label-primary
        = "#{cat.name}"
      &nbsp
  %td
    = idea.notes.count
  %td
    = idea.tasks.count
  %td
    = link_to edit_idea_path(idea), remote: true do
      %span.glyphicon.glyphicon-pencil
    = link_to idea_path(idea), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-trash