.panel.panel-default
  #headingTwo.panel-heading{role: "tab"}
    %h4.panel-title
      = link_to "#collapseTwo", 'data-toggle' => "collapse",'aria-expanded'=>"true", 'aria-controls'=>"collapseTwo" do
        %span.glyphicon.glyphicon-tasks
        #{@idea.name} Tasks
      = link_to new_polymorphic_path([@taskable, @task]), remote: true, class: 'pull-right' do
        %span.glyphicon.glyphicon-plus
        New Task
  #collapseTwo.panel-collapse.collapse{ role: "tabpanel", 'aria-labelledby'=>"headingTwo" }
    .panel-body
      = render partial: 'shared/task_tabs'
      = render partial: 'tasks/shared/task_table', locals: { tasks: @tasks }
.panel.panel-default
  #headingThree.panel-heading{role: "tab"}
    %h4.panel-title
      = link_to "#collapseThree", 'data-toggle' => "collapse",'aria-expanded'=>"true", 'aria-controls'=>"collapseThree" do
        %span.glyphicon.glyphicon-file
        #{@notable.name} Idea Notes
      = link_to new_polymorphic_path([@notable, @note]), remote: true, class: 'pull-right' do
        %span.glyphicon.glyphicon-plus
        New Note
  #collapseThree.panel-collapse.collapse{ role: "tabpanel", 'aria-labelledby'=>"headingThree" }
    .panel-body
      #notes.l12.s12
        = render partial: 'notes/note', collection: @notable.notes
.panel.panel-default
  #headingFour.panel-heading{role: "tab"}
    %h4.panel-title
      = link_to "#collapseFour", 'data-toggle' => "collapse",'aria-expanded'=>"true", 'aria-controls'=>"collapseFour" do
        %span.glyphicon.glyphicon-link
        #{@idea_linkable.name} Idea Links
      = link_to new_polymorphic_path([@idea_linkable, @idea_link]), remote: true, class: 'pull-right' do
        %span.glyphicon.glyphicon-plus
        New Link
  #collapseFour.panel-collapse.collapse{ role: "tabpanel", 'aria-labelledby'=>"headingFour" }
    .panel-body
      = render partial: 'idea_links/shared/idea_link_table', locals: { idea_links: @idea_links }
#modal
#task_modal
#idea_link_modal