var l = $('#description_<%= @task.id %> a:contains("(more)")').length

if(l > 0) { 
  $('#description_<%= @task.id %>').replaceWith("<div class='s4 l4' id='description_<%= @task.id %>'>"
    + "<%= @task.description %>" 
    + "<%= escape_javascript link_to '(less)', more_less_task_path(@task.id), remote: 'true' %>"
    + "</div>")
}
else {
  $('#description_<%= @task.id %>').replaceWith("<div class='s4 l4' id='description_<%= @task.id %>'>"
    + "<%= escape_javascript truncate( @task.description, length: 45, omission: ' '){link_to '(more)', more_less_task_path(@task.id), remote: true  } %>" 
    + "</div>")
}