%tr{:id => "idea_link_#{idea_link.id}"}
  %td 
    = link_to idea_link.link_url do
      #{idea_link.name}
  %td
    = idea_link.link_url
  %td
    = link_to edit_polymorphic_path([parent, idea_link]), remote: true do
      %span.glyphicon.glyphicon-pencil
    = link_to polymorphic_path([parent, idea_link]), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-trash