%tr{:id => "cat_#{category.id}"}
  %td 
    = link_to category.name, category_path(category)
  %td
  %td
    = category.notes.count
  %td
    = link_to edit_category_path(category), remote: true do
      %span.glyphicon.glyphicon-pencil
  %td
    = link_to category_path(category), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-trash