%tr{:id => "jot_#{jot.id}", class: row_class(jot)}
  %td.jot-up-down
    - unless jot.first?
      = link_to move_up_jot_path(jot), remote: true do
        %span.glyphicon.glyphicon-circle-arrow-up
    - unless jot.last?
      = link_to move_down_jot_path(jot), remote: true do
        %span.glyphicon.glyphicon-circle-arrow-down
  %td
    #{jot.context}
  %td
    = bootstrap_form_tag(url: "#{to_new_task_jot_path(jot)}", layout: :inline, remote: true, :html => {:class => "form-jot"}) do |f|
      = link_to to_new_idea_jot_path(jot),remote: true, class: "btn btn-default btn-sm" do
        Make Idea
        %span.glyphicon.glyphicon-chevron-right
      = f.select('idea_id', current_user.ideas.collect { |p| [p.name, p.id] }, {hide_label: true}, {class: "input-sm", id: "idea_#{jot.id}" } )
      = button_tag(type: "submit", class: "btn btn-default btn-sm") do
        To Task
        %span.glyphicon.glyphicon-chevron-right
  %td
    #{ time_ago_in_words(jot.created_at) } ago
  %td
    .btn-group.btn-group-sm
      = link_to edit_jot_path(jot), class: "btn btn-primary", remote: true do
        %span.glyphicon.glyphicon-pencil
      = link_to jot_path(jot), method: :delete, class: "btn btn-primary", remote: true, data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-trash