!!!
%html
  %head
    %title Ideas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %header
        = render 'shared/header'
      = #render 'shared/messages'
      #flash_hook
      = yield